{{#each this.pagedEntries as |page|}}
    <div class="print-header"></div>
    <div class="page">
        {{#each page as |entry|}}
            <PrintLabel @entry={{entry}} />
        {{/each}}
    </div>
{{/each}}