@import "bulma";

.page {
    display: grid;
    grid-template-columns: repeat(3, 2.625in);
    grid-template-rows: repeat(10, 1in);
    gap: 0in 0.125in;
    margin: 0in .1875in;
    page-break-after: always;
    break-after: always;
}

.print-header, .print-footer {
    height: 0.5in;
}

.print-label {
    text-align: center;
    overflow: hidden;
    padding: 0.0625in;
}

.label > h3 {
    margin: 0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    body, section.section {
        margin: 0;
        padding: 0;
    }
}

.results {
    display:flex;
    flex-direction: column;
}

.results.reversed {
    flex-direction: column-reverse;
}

video { 
    width: 100%;
    max-width: 500px;
    height: auto;
 }