<h1 class="subtitle">Scan Bib Number Barcodes</h1>

<Detector @type="barcode" @onDetection={{action "onDetection"}} />

<h3>Found Barcodes</h3>
<p>
    {{#each this.barcodes as |barcode|}}
        {{barcode.rawValue}} -- {{barcode.entry.FirstName}} {{barcode.entry.LastName}}
    {{/each}}
</p>