<section class="section">
    <div class="container is-upscaled-mobile">
        <nav class="level no-print is-mobile">
            <div class="left-level">
                <h1 class="title">Review Results</h1>
            </div>
            <div class="right-level">
                {{#link-to "meet.download" this.model class="button is-primary"}}
                    Download Results
                {{/link-to}}
            </div>
        </nav>
        {{outlet}}
    </div>
</section>