<nav class="level is-mobile">
    <div class="level-left">
        <h1 class="title">Meets</h1>
    </div>
    <div class="level-right">
        <div class="level-item">
            {{#link-to "import" class="button is-primary"}}
                Import a new meet
            {{/link-to}}
        </div>
    </div>
</nav>
<table class="table is-fullwidth">
    <tbody>
        <tr>
            {{#each this.model as |item|}}
                <td>
                    {{#link-to "meet" item.id}}
                        {{item.name}}
                    {{/link-to}}
                </td>
            {{/each}}
        </tr>
    </tbody>
</table>