{{#link-to "meet.input.division.time" this.model}}
    Next Input Time & Place
{{/link-to}}
<h1 class="subtitle">Input Bib Numbers Manually</h1>
<NameManual @entries={{this.model.entries}} @results={{this.model.results}} />