<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                XC Meet Manager
            </h1>
            <h2 class="subtitle">
                Host your cross country meet with ease
            </h2>
            {{#link-to "import" class="button"}}
                Host my meet!
            {{/link-to}}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h4 class="subtitle">XC Meet Manager Features</h4>

        <div class="content">
            <ul>
                <li>Complete Athletic.net meet integration download entries from Athletic.net, upload the results when
                    you are done
                </li>
                <li>Quickly print entries on mailing labels directly from your browser</li>
                <li>Scan barcodes from your phone to increase efficiency of result processing</li>
                <li>Scan timer paper to increase efficiency of result processing
                    <span class="tag is-warning">
                        Work in progress
                    </span>
                </li>
            </ul>
        </div>
        <h4 class="subtitle">Using XC Meet Manager</h4>
        <p></p>
    </div>
</section>